footer {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #4F3835;
    padding-bottom: 1.5vh;


}

